div.innercontent > div > div > table
{
    width:100%;
}
div.innercontent > div > div > table > tbody > tr > td
{
    padding:5px;
    border-bottom:1px solid #454545;
    text-align:center;
}
div.innercontent > div > div > table > tbody > tr > th
{
    margin:0;
	padding:5px;
	background-color:#cadde7;
	background: -moz-linear-gradient(#cadde7, #90b7ca);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cadde7), to(#90b7ca));
	color:#000080;
	font-weight:bold;
	text-align:center;
}
div.inputfield
{
    width:330px;
    float:left;
    margin:0;
    text-align:right;
}
div.inputfield > p
{
    display:inline;
    text-align:right;
    font-weight:bold;
    margin:5px;
    position:relative;
    top:5px;
}
div.inputfield > input, div.inputfield > select
{
    width:190px;
    display:inline;
    margin:5px 0px 5px 0px;
    float:right;
}
div.summary
{
    float:none;
}
div.innercontent > input[type="submit"], div.innercontent > div > input[type="submit"]
{
    height:40px;
    width:200px;
    font-size:large;
    margin:5px 5px 5px 130px;
}
input[value="Добавить"]
{
    color:#000080;
}
input[value="Оформить заказ"]
{
    color:#008000;
}
td > input[type="text"]
{
    width:100%;
}