<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="Eugene" />
	    <allow users="galina" />
	    <allow users="Servito" />
	    <allow users="Tako27" />
	    <allow users="Maryasia" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
    <location path="NewsManagement.aspx">
	    <system.web>
		    <authorization>
			    <allow users="Eugene"/>
		    </authorization>
	    </system.web>
    </location>
    <location path="Cron.aspx">
	<system.web>
	    <authorization>
		<allow users="*"/>
	    </authorization>
	</system.web>
    </location>
</configuration>