<connectionStrings>
	<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />
	<add name="KtradeConnectionString" connectionString="Data Source=ANSUZ;Initial Catalog=winweb7db1;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>